@import "theming";
@import "vars";


body {
    margin: 0px;
    padding: 0;
    font-family: 'Roboto', sans-serif;

    @include themify {
        background: $color-secondary;
        color: $color-primary;
    }
}

a {
    text-decoration: none;
    color: #000;
}

footer {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;

}

.main {
    margin-left: $sidebar_width;
    //margin: 10px 25px 25px 230px;
    display: grid;
    flex-wrap: wrap;
    justify-content: left;

    grid-auto-rows: 400px;

    @media (max-width: 1200px){
        grid-template-columns: 1fr;
    }
    @media (min-width: 1200px) and (max-width: 1800px){
        grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 1800px){
        grid-template-columns: repeat(3, 1fr);
    }
}


.editable {

    & > h3 {
        margin-top: 14px;
    }

    & > button {
        margin-right: 10px !important;
        margin-left: auto !important;
        display: block !important;
    }
}


/*#region ICONS */
.i {
    -webkit-mask-size: cover;
    mask-size: cover;

    @each $icon in students, teacher, parents, report, admin, exit {
        &.#{$icon} {
            -webkit-mask-image: url("../img/#{$icon}.svg");
            mask-image: url("../img/#{$icon}.svg");

            @include themify {
                background: $color-sub;
            }
        }
    }
}

.icon-bike {
    background: black;
    animation: 4s frames infinite linear;

    -webkit-mask-image: url(https://image.flaticon.com/icons/svg/89/89139.svg);
    mask-image: url(https://image.flaticon.com/icons/svg/89/89139.svg);
}

/*#endregion*/


.center {
    display: grid;
    min-width: 100%;
    min-height: 100vh;

    & > * {
        align-self: center;
        justify-self: center;
    }
}

ul {
    padding-left: 0;
}

.l_list_item {
    cursor: pointer
}

/*#region Blocks*/
.block {
    margin: 25px;
    border-radius: 4px;

     @include themify {
        background: $color-sidebar;
    }
}

.basic_info_block {
    .header_block {
        background: #3498DB;
    }
}

.two_row_block {
    grid-row: auto / span 2;
}

.statistic_block {
    height: auto;
    max-width: 500px;

    .header_block {
        background: #2ECC71;
    }
}

.header_block {
    width: 100%;
    height: 50px;
    background-color: black;
    color: #FFF;
    display: flex;
    align-items: center;
    border-radius: 4px 4px 0px 0px;

    p, h3 {
        margin-left: 25px;
    }
}

.obj_list_block_2line {

    .header_block {
        background: #1ABC9C;
    }

    .objs_list_wrapper {
        display: flex;
        justify-content: center;
        width: 100%;

        .objs_content_block {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
            grid-template-rows: 60px 60px 60px;
            margin-top: 20px;
            margin-bottom: 30px;
            align-items: center;
            width: calc(100% - 20px);

            .button_list_obj {
                background-color: gray;
                border: none;
                border-radius: 4px;
                width: calc(100% - 10px);
                height: calc(100% - 10px);
                display: flex;
                align-items: center;
                justify-content: center;
                color: #FFF;
                text-decoration: none;
                font-size: 16px;
                align-self: center;
                justify-self: center;
                box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);

                &:hover {
                    color: #333; /* TODO: Maybe we can make that more cool? */
                    font-weight: bold;
                }
            }

            .group_button {
                background: #FFF;
                color: #000;

                &:hover {
                    background: #cfcacf;
                    color: black;
                }
            }
        }
    }
}

.big_block {
    min-width: 800px;
}


.content_block {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

/*#endregion*/

.h3_nomargin {
    margin-left: 0 !important;
}

.edit_buttons_div {
    margin-right: 10px !important;
    margin-left: auto !important;
    display: block !important;
}