/*#region Reg/login */
.reglo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;

  H5 {
    font-size: 115%;
    color: #4a5159;
    display: flex;
    justify-content: center;
  }
}

.reglo .brd {
  border: 1px #F1F1F1;
  border-radius: 3px;
  background: #FFFFFF;
  padding: 28px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reglo > img {
  margin-bottom: 24px;
}

.reglo span {
  grid-template-rows: 32px;
  grid-row-gap: 8px;
}

.reglo span > * {
  width: 100%;
  height: 100%;
}

/*#endregion*/