{% load static %}
{% load sass_tags %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | DKControl</title>
    {% load static %}
    <script src="{% static 'lib/js/jquery-3.4.1.min.js' %}"></script>
    <link href="{% static 'lib/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'lib/css/semantic.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/css/icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/css/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/css/sweetalert.min.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="{% static 'lib/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/search.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/chart_builder.js' %}"></script>
    <script src="{% static 'lib/js/Chart.min.js' %}"></script>
    <script src="{% static 'lib/js/semantic.min.js' %}"></script>
    <script src="{% static 'lib/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'lib/js/sweetalert.min.js' %}"></script>
    <script src="{% static 'lib/js/sweetalert-bs.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="stylesheet" href="{% sass_src 'css/global_style.scss' %}">
    <link rel="stylesheet" href="{% sass_src 'css/style.scss' %}">

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body class="{{ request.user.theme }}">
{% block header %}
    <div class="sidebar shadow">
        <div class="logo">
            <a href="{% url 'main' %}"></a>
        </div>

        <div class="ui category search" id="search-div" style="margin-left: 15px; margin-top: 40px;">
            <div class="ui icon input">
                <input class="prompt" type="text" placeholder="Поиск">
                <i class="search icon"></i>
            </div>
            <div class="results" style="position: absolute"></div>
        </div>

        <ul class="sidebar_buttons">
            <li>
                <a class="button_left_panel" role="button" href="{% url 'search' %}?filters=students">
                    <img src="{% static 'img/students.svg' %}" alt="">Учащиеся
                </a>
                <a class="add_button_left_panel" role="button" href='/new/student/'>+</a>
            </li>
            <li>
                <a class="button_left_panel" role="button" href="{% url 'search' %}?filters=teachers">
                    <img src="{% static 'img/teacher.svg' %}" alt="">Педагоги
                </a>
                <a class="add_button_left_panel" role="button" href='/new/teacher/'>+</a>
            </li>
            <li>
                <a class="button_left_panel" role="button" href="{% url 'search' %}?filters=parents">
                    <img src="{% static 'img/parents.svg' %}" alt="">Родители
                </a>
                <a class="add_button_left_panel" role="button" href='/new/parent/'>+</a>
            </li>
            <a class="button_left_panel" role="button" href="{% url 'reports' %}">
                <li><img src="{% static 'img/report.svg' %}" alt="">Отчеты</li>
            </a>
            <br> <br>
            {% if request.user.is_superuser %}
                <a class="button_left_panel" role="button" href="/admin/">
                    <li><img src="{% static 'img/admin.svg' %}" alt="">Управление сайтом</li>
                </a>
            {% endif %}
            <a style="color: inherit;" role="button" href="{% url 'logout' %}">
                <li><img src="{% static 'img/exit.svg' %}" alt="">Выход</li>
            </a>
        </ul>
    </div>

    <header>
        {% block header_name %}<span id="header_text">Главная</span>{% endblock %}
        <div class="header_right">
            <button id="theme_switch"></button>
            <a id="avatar" style="background: {{ request.user.last_name|color }}"
               href="{% url 'user' request.user.id %}">
                <div>{{ request.user.last_name|index:0 }}</div>
            </a>
        </div>
    </header>
{% endblock %}
<div class="{% block class-global-div %}main{% endblock %}">
    {% block content %}{% endblock %}

    <template id="string-edit-input">
        <div class="ui input tiny">
            <input type="text" placeholder="">
        </div>
    </template>
    <template id="fio-edit-input">
        <div class="ui input" style="width: 435px">
            <input type="text" placeholder="Фамилия Имя Отчество">
        </div>
    </template>
    <template id="date-edit-input">
        <div class="ui input tiny">
            <input type="date">
        </div>
    </template>
    <template id="select-edit-input">
        <div class="ui form input small">
            <select class="ui fluid dropdown">

            </select>
        </div>
    </template>
    <template id="edit-buttons">
        <div class="ui icon buttons edit_buttons_div">
            <button type="button" id="bremove" class="ui red button ">
                <i class="trash icon"></i>
            </button>
            <button type="submit" class="ui green button ">
                <i class="check icon"></i>
            </button>
        </div>
    </template>
</div>
</body>
</html>
