{% extends 'base.html' %}
{% load custom_tags %}

{% block title %}Группа{% endblock %}
{% block header_name %}
    <div class="ui breadcrumb" style="margin: 0 0 20px 20px">
        <a class="section" href="{% url 'main'%}">Объеденения</a>
        <div class="divider"> /</div>
        <a class="section" href="{% url 'union' group.union.id %}">{{ group.union.name }}</a>
        <div class="divider"> /</div>
        <a class="section" href="{% url 'union' group.union.id %}">Группы</a>
        <div class="divider"> /</div>
        <div class="active section">{{ group.name }}</div>
    </div>
{% endblock %}
{% block content %}

    <div class="basic-info-block block shadow" style="min-width: 800px">
        <div class="header_block">
            <p>Расписание</p>
        </div>
        <div style="padding: 25px; display: flex; flex-flow: row wrap;">
            {% for day, time in timetable.items %}
                <a class="mini-block {% if time.time %}activated{% endif %}"> {# TODO Add editor #}
                    <h3>{{ day }}</h3>
                    <h3>{{ time.time }}</h3>
                </a>
            {% endfor %}
        </div>
    </div>
    {% include 'snippets/chart.html' with id=1 url='/chart/attendingStats/' group_id=group.id label='Статистика посещений' %}

    <div class="basic-info-block block shadow" style="min-width: 800px;">
        <div class="header_block">
            <p>Информация</p>
        </div>
        <div class="ui list" style="padding-left: 25px;">
            <a class="item" style="color: inherit;"
               href="{% if group.teacher %}{% url 'user' group.teacher.id %}{% endif %}">
                <i class="graduation cap icon"></i>
                <div class="content">
                    <div class="header">Преподаватель</div>
                    <div class="content">{{ group.teacher|check }}</div>
                </div>
            </a>
            <a class="item" style="color: inherit;"
               href="{% url 'union' group.union.id %}">
                <i class="university icon"></i>
                <div class="content">
                    <div class="header">Объеденение</div>
                    <div class="content">{{ group.union|check }}</div>
                </div>
            </a>
            <a class="item" style="color: inherit;"
               href="#">
                <i class="child icon"></i>
                <div class="content">
                    <div class="header">Ученики</div>
                    <div class="content">Список:</div>
                </div>
            </a>
        </div>
        <div class="content_block" style="overflow: auto; height: 270px">
            <table class="table_students" id="customers">
                <tr>
                    <td>№</td>
                    <td>ФИО</td>
                    <td>Посещаемость</td>
                </tr>
                {% for student in group.students.all %}
                    <tr onclick="window.location='{% url "student" student.id %}';" style="cursor: pointer">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ student }}</td>
                        <td>{{ attendings|index:forloop.counter0 }}%</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="statistic_block block shadow">
        <div class="header_block" style="background: #0f857e; padding-left: 30px">
            Занятия
        </div>
        <div class="content_block" style="overflow: auto; height: 270px">
            <table class="table_students" id="customers">
                <tr>
                    <td>№</td>
                    <td>Дата</td>
                    <td>Статус</td>
                </tr>
                {% for session in group.studysession_set.all %}
                    <tr onclick="window.location='{% url "session" session.id %}';">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ session.date.date }} {{ session.date.time }}</td>
                        <td>{% if session.cancelReason %}Отмененно: {{ session.cancelReason }}{% else %}
                            Проведено{% endif %}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
