{% extends 'login_base.html' %}

{% block title %}Вход{% endblock %}
{% block form_title %}Вход{% endblock %}

{% block form %}
    <label>
        Логин:
        <input class="form-control" type="text" name="username"/>
    </label>
    <br>
    <label>
        Пароль:
        <input class="form-control" type="password" name="password"/>
    </label>
    <br>
    <button class="btn btn-primary" type="submit">Вход</button>
    {# <a class="btn btn-secondary btn active" aria-pressed="true" role="button" href="/signUp/">Регистрация</a> #}
{% endblock %}
