{% extends 'base.html' %}

{% block title %}Вход{% endblock %}
{% block form_title %}Вход{% endblock %}
{% block header %}{% endblock %}
{% block class-global-div %}container-fluid{% endblock %}

{% load static %}

{% block content %}
    <div class="center">
        <div style="margin-bottom: 10vh" class="reglo">
            <img src="{% static 'img/dkcontrol.svg' %}" width="220" class="d-inline-block align-top" alt="">
            <form method="post" action="" class="brd form-group">
                <span>
                    <h5>Вход</h5>

                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endif %}
                    {% csrf_token %}
                    <label>
                        <input class="form-control btn-lg" type="text" name="username" placeholder="Логин"/>
                    </label>
                    <label>
                        <input class="form-control btn-lg" type="password" name="password" placeholder="Пароль"/>
                    </label>
                    <button class="btn btn-primary btn-lg btn-block" type="submit" style="margin-top: 10px">Войти</button>
                    {# <a class="btn btn-secondary btn active" aria-pressed="true" role="button" href="/signUp/">Регистрация</a> #}
                </span>
            </form>
        </div>
    </div>
{% endblock %}
