{% extends 'base.html' %}

{% block title %}Главная{% endblock %}
{% block header_name %}{% endblock %}
{% block content %}

    <div class="students_block block shadow">
        <div class="header_block">
            <p>Ученики</p>
        </div>
        <div class="content_block">
            <table class="table_students" id="customers">
                <tr>
                    <td>№</td>
                    <td>ФИО</td>
                    <td>Посещаемость</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Фамилия Имя Отчество</td>
                    <td>100%</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Фамилия Имя Отчество</td>
                    <td>100%</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Фамилия Имя Отчество</td>
                    <td>100%</td>
                </tr>


            </table>
        </div>
    </div>
    {% include 'snippets/chart.html' with id=1 url='/chart/chartStudent/' label='Статистика посещения' %}

    <script src="../static/js/script.js"></script>
{% endblock %}
