{% extends 'base.html' %}
{% load custom_tags %}

{% block title %}Отчёты{% endblock %}
{% block header_name %}<p id="header_text">Отчёты</p>{% endblock %}
{% block content %}
    <div class="obj_list_block_2line block shadow">
        <div class="header_block">
            <h3>В разработке</h3>
        </div>
        <div style="padding: 20px">
            <div class="report_types">
                {% for report in reports %}
                    <button data-form="{% url 'report_form' report_type=report.id %}">{{ report.name }}</button>
                {% endfor %}
            </div>
            <div id="form_div">

            </div>
            <div id="report_output">

            </div>
        </div>
    </div>
{% endblock %}
