<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Занятие | DKControl</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>

    <div class="sidebar shadow">
        <div class="logo">
            <a href="#"><img src="../static/img/logo.svg" alt="DKControl" id="logo"></a>
        </div>

        <input type="text" id="search" placeholder="Поиск">

        <ul class="list">
            <li><img src="../static/img/students.svg" alt="">Учащиеся</li>
            <li><img src="../static/img/teacher.svg" alt="">Педагоги</li>
            <li><img src="../static/img/parents.svg" alt="">Родители</li>
            <li><img src="../static/img/report.svg" alt="">Отчеты</li>
        </ul>
    </div>

    <header>
        <p id="header_text">Главная / IT-Квантум / 7Р / Занятие 02.04.19 16:30-18:10 </p>
        <div id="avatar">В</div>
    </header>

    <div class="main">
        <div class="students_block block shadow">
            <div class="header_block" style="background: #3498DB">
                <p>Ученики</p>
            </div>
            <div class="content_block">
                <table class="table_students" id="customers">
                    <tr>
                        <td>№</td>
                        <td>ФИО</td>
                        <td>Инфо</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Фамилия Имя Отчество</td>
                        <td>Присутствовал</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Фамилия Имя Отчество</td>
                        <td>Присутствовал</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Фамилия Имя Отчество</td>
                        <td>Отсутствовал</td>
                    </tr>



                </table>

            </div>

        </div>

        <div class="info_block block shadow">
            <div class="header_block">
                <p>Инфо</p>
            </div>
            <div class="content_block">
              <div class="info_content">

                <ul class="info_list" id = "info" style="width: 100%;">
                  <li>Преподаватель - <a href="#">Фамилия Имя Отчество</a></li>

                  <li>Дата - 02.04.19</li>

                  <li>Время - 16:30-18:10</li>

                  <li>Статус - Проведено</li>
                </ul>
              </div>
            </div>
        </div>


    </div>



</body></html>
