{% extends 'base.html' %}

{% block title %}Занятие{% endblock %}
{% block header_name %}
    <div class="ui breadcrumb" style="margin: 0 0 20px 0">
        <a class="section">Группы</a>
        <div class="divider"> /</div>
        <a class="section" href="{% url 'group' session.group.id %}">{{ session.group }}</a>
        <div class="divider"> /</div>
        <a class="section">Занятия</a>
        <div class="divider"> /</div>
        <div class="active section">{{ session }}</div>
    </div>
{% endblock %}
{% block content %}
        <div class="students_block block shadow">
            <div class="header_block" style="background: #3498DB">
                <p>Ученики</p>
            </div>
            <div class="content_block" style="overflow: auto">
                <table class="table_students" id="customers">
                    <tr>
                        <td>№</td>
                        <td>ФИО</td>
                        <td>Инфо</td>
                    </tr>
                    {% for attending in session.attending_set.all %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'student' attending.student.id %}">{{ attending.student }}</a></td>
                        <td>{% if attending.isAttend %}Присуствовал{% else %}Отсуствовал{% endif %}</td>
                    </tr>
                    {% endfor %}
                </table>

            </div>

        </div>

        <div class="info_block block shadow">
            <div class="header_block">
                <p>Инфо</p>
            </div>
            <div class="content_block">
              <div class="info_content">

                <ul class="info_list" id = "info" style="width: 100%;">
                  <li>Преподаватель - <a href="{% url 'user' session.group.teacher.id %}">{{ session.group.teacher }}</a></li>

                  <li>Дата - {{ session.date.date }}</li>

                  <li>Время - {{ session.date.time }}</li>

                  <li>Статус - {% if session.cancelReason %}Отмененно: {{ session.cancelReason }}{% else %}Проведено{% endif %}</li>
                </ul>
              </div>
            </div>
        </div>
{% endblock %}
