{% extends 'base.html' %}
{% load custom_tags %}

{% block title %}Главная{% endblock %}
{% block header_name %}<span id="header_text">Главная</span>{% endblock %}
{% block content %}
    <div class="kvantums_block block shadow">
        <div class="header_block">
            <h3>Квантумы</h3>
        </div>
        <div class="wrapper_kvantums">
            <div class="kvantums_content_block">
                {% for union in unions %}
                    <a href="{% url 'union' union.id %}" class="button_kvantum"
                       style="background: #E74C3C url('/media/{{ union.logo.link }}');">{{ union.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="basic-info-block block shadow">
        <div class="header_block">
            <h3>Ученики</h3>
        </div>
        <div class="content_block" style="overflow: auto; height: 270px">
            <table class="table_students" id="customers">
                <tr>
                    <td>№</td>
                    <td>ФИО</td>
                    <td>Посещаемость</td>
                </tr>
                {% for student in students %}
                    <tr onclick="window.location='{% url "student" student.id %}';" style="cursor: pointer">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ student }}</td>
                        <td>{{ attendings|index:forloop.counter0 }}%</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% include 'snippets/chart.html' with id=1 url='/chart/attendingStats/' unit="months" label='Статистика посещений' name='Статистика посещения по Кванториуму'%}
{% endblock %}
