{% extends 'base.html' %}
{% load custom_tags %}

{% block title %} {{ union.name }}{% endblock %}
{% block header_name %}
    <div class="ui breadcrumb" style="margin: 0 0 20px 0">
        <a class="section">Объеденения</a>
        <div class="divider"> /</div>
        <div class="active section">{{ union.name }}</div>
    </div>
{% endblock %}
{% block content %}
    <div class="kvantums_block block shadow">
        <div class="header_block">
            <p>Группы</p>
        </div>
        <div class="wrapper_kvantums">
            <div class="kvantums_content_block">
                {% for group in union.group_set.all %}
                    <a href="{% url 'group' group.id %}" class="button_kvantum group_button">{{ group.name }}</a>
                {% endfor %}
            </div>
        </div>

    </div>
    <div class="students_block block shadow">
        <div class="header_block">
            <p>Ближайшие занятия</p>
        </div>
        <div class="content_block">
            <table class="table_students" id="customers">
                <tr>
                    <td>Время</td>
                    <td>Группа</td>
                    <td>Преподаватель</td>
                </tr>
                <tr>
                    <td>18:20 - 20:00</td>
                    <td>7Р</td>
                    <td>Фамилия Имя Отчество</td>

                </tr>
                <tr>
                    <td>18:20 - 20:00</td>
                    <td>7Р</td>
                    <td>Фамилия Имя Отчество</td>

                </tr>
                <tr>
                    <td>18:20 - 20:00</td>
                    <td>7Р</td>
                    <td>Фамилия Имя Отчество</td>

                </tr>

            </table>
        </div>
    </div>

    {% include 'snippets/chart.html' with id=1 url='/chart/attendingStats30d/' union_id=union.id label='Процент посещения' %}

{% endblock %}