{% extends 'base.html' %}
{% load custom_tags %}

{% block title %} {{ union.name }}{% endblock %}
{% block header_name %}
    <div class="ui breadcrumb" style="margin: 0 0 20px 0">
        <a class="section">Объеденения</a>
        <div class="divider"> /</div>
        <div class="active section">{{ union.name }}</div>
    </div>
{% endblock %}
{% block content %}
    <div class="obj_list_block_2line block shadow">
        <div class="header_block">
            <h3>Группы</h3>
        </div>
        <div class="objs_list_wrapper">
            <div class="objs_content_block">
                {% for group in union.group_set.all %}
                    <a href="{% url 'group' group.id %}" class="button_list_obj group_button">{{ group.name }}</a>
                {% endfor %}
            </div>
        </div>

    </div>
    <div class="basic_info_block block shadow">
        <div class="header_block">
            <h3>Ученики</h3>
        </div>
        <div class="content_block" style="overflow: auto; height: 270px">
            <table class="table_students" id="customers">
                <tr>
                    <td>№</td>
                    <td>ФИО</td>
                </tr>
                {% for group in union.group_set.all %}
                    {% for student in group.students.all %}
                        <tr onclick="window.location='{% url "student" student.id %}';" class="l_list_item">
                            <td>{{ forloop.counter }}</td>
                            <td>{{ student }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
    </div>

    {% include 'snippets/chart.html' with id=1 url='/chart/attendingStats/' union_id=union.id label='Статистика посещений' %}

{% endblock %}